@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-geist-mono), ui-mono-serif, Menlo, Monaco, Consolas, monospace;
}

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
  --pink-500: #ec4899;
  --pink-600: #db2777;
  --pink-700: #be185d;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
